@font-face {
    font-family: "inter-reg";
    src: url('/src/fonts/Inter/Inter-Regular.ttf');
}
@font-face {
    font-family: "inter-semi";
    src: url('/src/fonts/Inter/Inter-SemiBold.ttf');
}
@font-face {
    font-family: "inter-bold";
    src: url('/src/fonts/Inter/Inter-Bold.ttf');
}
@font-face {
    font-family: "inter-black";
    src: url('/src/fonts/Inter/Inter-Black.ttf');
}

$primary-co: #00A2FF;
$black-co: #222A33;
$white-co: #FCFCFC;
$gray-co: #7f8596;

$text-xs: 0.813rem;
$text-sm: 0.938rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-lg: 2rem;
$text-3xl: 3rem;
$text-4xl: 4rem;
$text-5xl: 5rem;
$text-6xl: 6rem;
$text-7xl: 7rem;
$text-8xl: 8rem;
$text-9xl: 9rem;
$text-10xl: 10rem;

$general-transition: all .2s ease-out;


*{
    padding: 0;
    margin: 0;
    outline: none;
}

/* Set a base font size (adjust as needed) */
html {
    font-size: 16px;
}

/* Specify box-sizing to avoid layout issues */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Optional: Reset list styles */
ul, ol {
    list-style: none;
}

/* Body background and font styles */
body {
    font-family: 'inter-reg', sans-serif;
    color: $black-co;
    font-size: $text-xs;
    line-height: 1.6;
    height: 100vh;
    overflow-x: hidden;
    background-color: $white-co;
}

/* Links styles */
a {
    text-decoration: none;
    color: $black-co;
}

/* Basic container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem 2rem;
    height: 100%;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
}

/* Center,Left and Right an element */
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

svg {
    vertical-align: middle;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 3.5;
}

button {
    cursor: pointer;
}

button, input {
    background: none;
    border: none;
}

.h-w-full {
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $gray-co;
    opacity: .2;

    svg {
        width: 100px;
        height: 100px;
    }
}

/* ====================> UNIQUE CSS <====================*/
#app {
    padding-bottom: 3rem;

    .main-content {
        transition: $general-transition;

        .nav {
            display: flex;
            align-items: center;
            padding: 1rem 0;
            
            .logo {
                display: flex;
                align-items: center;
                gap: .5rem;
                font-family: 'inter-semi';
                font-size: $text-md;
            }
        }
        
        .weather-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        
            .location {
                display: flex;
                align-items: center;
        
                .location-country {
                    display: flex;
                    align-items: center;
                    padding-right: 1rem;
                    gap: .3rem;
            
                    .country-flag {
                        width: 20px;
                        display: flex;
                        align-items: center;
                    }
                    .country-name {
                        font-family: 'inter-semi';
                    }
                }
            }
            .weather-type {
                padding-left: 1rem;
            }
            .weather-type, .location-date {
                display: flex;
                align-items: center;
                gap: .5rem;
                color: $gray-co;
            
                svg {
                    width: 22px;
                    height: 22px;
                }
            }
            .weather-type {
                border-left: 1px solid #E5E8EC;
            }
            .location-date {
                margin-top: 1rem;
            }
            .current-temperature {
                font-size: $text-10xl;
                line-height: 12rem;
                margin-left: -0.5rem;
            }
            .weather-illust .weather {
                position: relative;
        
                img {
                    width: 400px;
                    pointer-events: none;
                }
            }
            .weather-details-contaienr {
                display: flex;
                justify-content: flex-end;
        
                .weather-details {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;
            
                    .status {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        
                        svg{
                            width: 26px;
                            height: 26px;
            
                            path{
                                stroke-width: 2.2px;
                            }
                        }
                        .status-title {
                            font-size: $text-sm;
                        }
                    }
                }
            }
        }
        
        form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5rem;
        
            .search-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                border: 1.5px solid #eeeeee;
                padding: .5rem;
                padding-left: 1.5rem;
                border-radius: 999px;
        
                input {
                    width: 100%;
                    font-size: $text-base;
                }
                .search-btn {
                    width: 50px;
                    height: 48px;
                    background-color: $primary-co;
                    color: #FCFCFC;
                    border-radius: 999px;
                }
            }
        }
    }


    .alert-box {
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1.5px solid #eeeeee;
        background-color: $white-co;
        padding: 0 1rem;
        border-radius: 999px;
        z-index: 1000;
        transition: all .2s ease-out;
        opacity: 1;
        box-shadow: 0 1rem 40px rgba(0,0,0,0.08);
    
        .alert-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .75rem;
    
            .alert-icon {
                width: 35px;
                height: 35px;
                background-color: #FD5440;
                color: $white-co;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 999px;
            }
            .alert-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                .alert-title {
                    font-family: 'inter-semi';
                    font-size: $text-sm;
                }
                .alert-desc {
                    color: $gray-co;
                    font-size: $text-xs;
                }
            }
        }
        .close-alert {
            color: $gray-co;
            transition: $general-transition;

            &:hover {
                color: $black-co;
            }
        }
    }
    .alert-box.hidden {
        opacity: 0;
        top: 1rem;
    }
}

/* ====================> Responsive - Media Queries <====================*/

// Mobile
@media (max-width: 991px) {
    .weather-info {
        flex-wrap: wrap;

        .right-box {
            flex-basis: 100%;
            text-align: left;

            .weather-details-contaienr {
                justify-content: flex-start !important;
                
                .weather-details {
                    flex-direction: row !important;
                }
            }
        }
        .weather-illust {
            text-align: right;
        }
    }
}